{% extends 'base.html' %}

{% block content %}
<div class="card " style="width: 95%; height: 95%;">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center; font-size: 30px; margin-top: 5px;">
            Registro de pagos</h5>
        <div class="row">
            <div class="col" style="text-align: center;">
                <h5>Buscar pago</h5>
            </div>
            <div class="col" style="text-align: center;">
                <h5>Ver adeudos</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" id="filtronombre" placeholder="Buscar incidencia">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true"
                    title="Puedes buscar por cualquier insidencia en la tabla Ej. Nombre, Apellido, Numero etc...">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                </button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <button class="btn btn-secondary" type="button" style="margin-left: 30%;" data-toggle="modal"
                    data-target="#ModalConsultarAdeudos">Adeudos</button>
                <div class="modal fade " id="ModalConsultarAdeudos" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Todos los alumnos con adeudos
                                </h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                        <h5>Buscar adeudo</h5>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"><input type="text" placeholder="Buscar adeudo" id="filtroAdeudo">
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <hr />
                                <br />
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover"
                                        style="margin-left: auto;margin-right: auto;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Apellidos</th>
                                                <th scope="col">Tipo adeudo</th>
                                                <th scope="col">Monto adeudo</th>
                                                <th scope="col">Fecha proximo pago</th>
                                                <th scope="col">Fecha liquidacion</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tablaAdeudos">
                                            {% for adeudo in Adeudos %}
                                            {% for alumno in Alumnos %}
                                            {% ifequal adeudo.id_registro alumno.id %}
                                            <tr>
                                                <td>{{alumno.nombre}}</td>
                                                <td>{{alumno.apellido}}</td>
                                                <td>{{adeudo.tipo_adeudo}}</td>
                                                {% ifequal adeudo.cantidad_adeudo 0 %}
                                                <td>-</td>
                                                {% else %}
                                                <td>{{adeudo.cantidad_adeudo}}</td>
                                                {% endifequal %}
                                                {% if adeudo.activo%}
                                                <td>{{adeudo.fechaProxima}}</td>
                                                <td>-</td>
                                                {% else %}
                                                <td>-</td>
                                                <td>{{adeudo.fecha_liquidacion}}</td>
                                                {% endif %}
                                                {% endifequal %}
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <br>
        </div>

        <div class="row" style="margin-left: 3px;  margin-top: 10px;">
            <div class="table-responsive">
                <table class="table table-striped table-hover" style="margin-left: auto;margin-right: auto;">
                    <thead>
                        <tr>
                            <th scope="col">Consultar</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Tipo de pago</th>
                            <th scope="col">Metodo de pago</th>
                            <th scope="col">Monto</th>
                            <th scope="col">fecha registro pago</th>
                        </tr>
                    </thead>
                    <tbody id="tablapago">
                        {% for pago in Pagos%}
                        {% for alumno in Alumnos%}
                        {% if alumno.activo is True%}
                        {% ifequal alumno.id pago.id_registro %}
                        <tr>
                            <td><a class="btn btn-secondary btn-sm modal-consulta" style="color: white;"
                                    data-url={{pago.id}}>consultar</a></td>
                            <td>{{alumno.nombre}} {{alumno.apellido}}</td>
                            <td>{{pago.tipo_pago}}</td>
                            <td>{{pago.metodo_pago}}</td>
                            <td>{{pago.cantidad}}</td>
                            <td>{{pago.fechareg}}</td>
                        </tr>
                        {% endifequal%}
                        {% else%}
                        {% endif%}
                        {% endfor %}
                        {% empty%}
                        <h2>No existe ningun pago de Alumno,registre uno nuevo!</h2>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="modal-div">
        </div>
        <div class="form-group">
            <div class="row align-items-end">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <button type="button" class="btn btn-secondary modal-registro"
                        style="margin-top:20%; margin-left:50%;">
                        Registrar Pago
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var modalDiv = $("#modal-div");
    $(".modal-registro").on("click", function () {
        $.ajax({
            url: "/registro/",
            success: function (data) {
                modalDiv.html(data);
                $("#ModalRegistrarPagos").modal();
            }
        });
    });
    $(".modal-consulta").on("click", function () {
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                modalDiv.html(data);
                $("#ModalConsultarPagos").modal();
            }
        });
    });
    $(document).ready(function () {
        $("#filtroAdeudo").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tablaAdeudos tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    $(document).ready(function () {
        $("#filtronombre").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tablapago tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}