{% extends 'base.html' %}

{% block content %}
<div class="card " style="width: 95%; height: 150%;">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center; font-size: 30px; margin-top: 5px;">
            Consultar alumnos</h5>
        <div class="form-group" style="border: black;">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h5>Buscar alumno</h5>
                </div>
                <div class="col" style="text-align: center;">
                    <h5>Agregar alumno</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="filtronombre" placeholder="buscar incidencia">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true"
                        title="Puedes buscar por cualquier insidencia en la tabla Ej. Nombre, Apellido, Tipo de pago, Metodo de pago etc...">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-2"></div>
                <div class="p-2"></div>
            </div>
        </div>
        <br />

        <div class="row" style="margin-left: 3px;  margin-top: 10px;">
            <div class="table-responsive" style="overflow-y: scroll; height: 450px;">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Numero tel.</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Resetear Contraseña</th>
                            
                        </tr>
                    </thead>
                    <tbody id="tablaAlumnos">
                        {% for alumno in Alumnos %}
                        {% if alumno.activo is True%}
                        <tr>
                            <td>{{alumno.nombre}}</td>
                            <td>{{alumno.apellido}}</td>
                            <td>{{alumno.telefono}}</td>
                            <td>{{alumno.correo}}</td>
                            <td><a class="btn btn-secondary btn-sm modal-reset" style="color: white;"
                                data-url={{alumno.id}}>reset</a></td>
                        </tr>
                        {% else%}
                        {% endif%}
                        {% empty %}
                        <h2>No existe ningun alumno registrado, por favor registre uno</h2>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="modal-div">
        </div>
    </div>
</div>
<script>
    var modalDiv = $("#modal-div");
    $(".modal-reset").on("click", function () {
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                modalDiv.html(data);
                $("#ModalResetPassword").modal();
            }
        });
    });
    $(document).ready(function () {
        $("#filtronombre").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tablaAlumnos tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    
</script>
{% endblock %}